streamlit==1.39.0
pandas
python-dotenv
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-openai>=0.1.7
chromadb>=0.5.3
pypdf
tiktoken
openai>=1.40.0
